<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form</title>
    <link th:href="@{/css/adduserstylesheet.css}" rel="stylesheet">
</head>
<body>
<div class="topnav">
    <a th:href="@{/users}">Users</a>
    <a th:href="@{/add_user}">Add user</a>
</div>
<div class="container">
    <h2> Add new user </h2>
    <form method="post" th:object="${user}" th:action="@{/handleAddUser}">
        <p style="color:red" th:errors="*{username}"> </p>
        <input type="text" placeholder="username" th:field="*{username}">
        <p style="color:red" th:errors="*{email}"> </p>
        <input type="text" placeholder="email" th:field="*{email}">
        <p style="color:red" th:errors="*{password}"> </p>
        <input type="text" placeholder="password" th:field="*{password}">
        <input type="hidden" th:field="*{id}">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>