<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Titel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="row col-md-8 offset-md-2">

            <div class="card">
                <div class="card-header">
                    <h2 class="text-center" th:unless="${param.success}">Register</h2>
                    <div th:if="${param.success}">
                        <div class="alert alert-info">You are now registered!</div>
                        <!--<div th:if="${param.success}">
                            <a href="/" th:href="@{/loginOld}">Login here</a>
                        </div>-->
                    </div>
                </div>
                <div class="card-body">

                    <form method="post" role="form" th:action="@{/register/save}" th:object="${user}"
                        th:unless="${param.success}">

                        <div class="form-group mb-3">
                            <label class="form-label">Username</label>
                            <input class="form-control" id="name" placeholder="Enter username"
                                th:field="*{username}" type="text" />
                            <p th:errors = "*{username}" class="text-danger" th:if="${#fields.hasErrors('username')}"></p>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Email</label>
                            <input class="form-control" id="email" name="email" placeholder="Enter email address"
                                th:field="*{email}" type="email" />
                            <p th:errors = "*{email}" class="text-danger" th:if="${#fields.hasErrors('email')}"></p>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Password</label>
                            <input class="form-control" placeholder="Enter password"
                                th:field="*{password}" type="password" />
                            <p th:errors = "*{password}" class="text-danger" th:if="${#fields.hasErrors('password')}"></p>
                        </div>

                        <div class="form-group modal-mb-3">
                            <button class="btn btn-dark" type="submit">Register</button>
                            <span>Already registered? <a href="/" th:href="@{/loginOld}">Login
                                    here</a></span>
                        </div>
                    </form>

                    <div class="container">

                        <form method="post" th:action="@{/sign-in}" class="form-horizontal" role="form" th:if="${param.success}">
                            <div class="mb-3">
                                <label for="username" class="control-label">Email *</label>
                                <input type="text" id="username" name="username" class="form-control" placeholder="Email" />
                            </div>

                            <div class="mb-3">
                                <label for="password" class="control-label">Password *</label>
                                <input type="password" id="password" name="password" class="form-control" placeholder="Password" />
                            </div>

                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">Log in</button>
                            </div>
                        </form>
                      <!--  <button method="get" type="submit" class="btn btn-primary" th:action="@{/register}">Registera</button>-->
                    </div>


                </div>

            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>