<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>..</title>
    <link rel="stylesheet" href="../static/index-style.css" th:href="'/index-style.css'">
    <link rel="stylesheet" href="userpage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Do+Hyeon&family=Kristi&display=swap" rel="stylesheet">

    ${#temporals.day(date)}
    ${#temporals.month(date)}
    ${#temporals.monthName(date)}
    ${#temporals.monthNameShort(date)}
    ${#temporals.year(date)}
    ${#temporals.dayOfWeek(date)}
    ${#temporals.dayOfWeekName(date)}
    ${#temporals.dayOfWeekNameShort(date)}
    ${#temporals.hour(date)}
    ${#temporals.minute(date)}
    ${#temporals.second(date)}


</head>
<body>


 <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>



      <form action="https://www.google.com/search" method="get" class="d-flex mt-3" role="search">
        <input  class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-success" type="submit">Search</button>
      </form>

      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Någon titel</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/register}">Register</a>
              <a class="nav-link" th:href="@{/login}">Log in</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                    <div class="row">
                    <div class="col align-self-start">
                      <form th:action="@{/updatelinks}" method="post">
                          <input class="form-control me-2" type="text" name="name" placeholder="Link name"/>
                          <input class="form-control me-2" type="text" name="url" placeholder="Link URL"/>
                          <button class="btn btn-success" type="submit">Add Link</button>
                      </form>
                      <ul class="list-group">
                          <li class="list-group-item bg-dark" th:each="Link : ${links}">
                              <a th:href="${Link.url}" class="dropdown-item" th:text="${Link}"></a>
                          </li>
                      </ul>
                    </div>
                </div></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav> 

  <br>
  <br>
  <br>
 <div>
 <div class="todoDiv container" style="margin-left: 5px;">
          <div class="row">
              <div class=" todo col-md-3 border border-dark-subtle bg-dark">
        <h3 class="text-white">Todo List</h3>
        <form  class="d-flex mt-3" th:action="@{/userpage}" method="post">
            <input class="form-control me-2" type="text" name="listItem">
            <button class="btn btn-success " type="submit">Add</button>
        </form>
        <ul class="list-group bg-dark">
            <li class="text-white list-group-item bg-dark " th:each="item, iter : ${todos}">

                <form th:action="@{'/checkbox/' + ${iter.index}}" method="post">
                    <input class="form-check-input me-1" type="checkbox" name="isDone">
                    <span class="todoText" th:text="${item}"></span>
                    <button type="submit" class="btn btn-outline-danger btn-sm">Remove</button>
                </form>
            </li>
        </ul>
              </div>
          </div>
      </div>

     <div class="container text-center">


         <div class="col align-self-center">

             <div class="time">
                 <span th:text="${#temporals.dayOfWeekName(localDateTime)}"></span>
                 :
                 <span th:text="${#temporals.hour(localDateTime)}"></span>
                 :
                 <span th:text="${#temporals.minute(localDateTime)}"></span>


             </div>

         </div>
     </div>


         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>
