<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>..</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

<!-- <form th:action="@{/updatelinks}" method="post">
    <input type="text" name="name" placeholder="Link name"/>
    <input type="text" name="url" placeholder="Link URL"/>
    <input type="submit" value="Add link"/>
</form>
<ul>
    <li th:each="link : ${list}">
        <a th:href="${link.url}" th:text="${link.name}"></a>
    </li>
</ul>
 -->
 <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <form class="d-flex mt-3" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
      <!-- <form class="row g-3" method="post" th:action="@{/login}">
        <div class="col-auto">
          <label for="staticEmail2" class="visually-hidden">Email</label>
          <input type="text" class="form-control-me-2" id="username" value="username" name="username">
        </div>
        <div class="col-auto">
          <label for="inputPassword2" class="visually-hidden">Password</label>
          <input type="password" class="form-control-me-2" id="inputPassword2" placeholder="Password" name="password">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-success btn-sm">Log in</button>
        </div>
      </form> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Någon titel</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/register}">Register</a>
              <a class="nav-link" th:href="@{/login}">Log in</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><div class="row">
                    <div class="col align-self-start">
                      <form th:action="@{/updatelinks}" method="post">
                          <input type="text" name="name" placeholder="Link name"/>
                          <input type="text" name="url" placeholder="Link URL"/>
                          <input type="submit" value="Add link"/>
                      </form>
                      <ul>
                          <li th:each="Link : ${links}">
                              <a class="dropdown-item" th:text="${Link}"></a>
                          </li>
                      </ul>
                    </div></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav> 

  <br>
  <br>
  <br>

 <div class="container text-center">
    <!-- <div class="row">
      <div class="col align-self-start">
        <form th:action="@{/updatelinks}" method="post">
            <input type="text" name="name" placeholder="Link name"/>
            <input type="text" name="url" placeholder="Link URL"/>
            <input type="submit" value="Add link"/>
        </form>
        <ul>
            <li th:each="Link : ${links}">
                <a th:text="${Link}"></a>
            </li>
        </ul>
      </div> -->
      <div class="col align-self-center">
        <!-- <p th:text="${#date.currentDateTime}"></p> -->
      </div>
      <div class="col align-self-end">
        <h3>Todo List</h3>
        <form th:action="@{/userpage}" method="post">
            <input type="text" name="listItem">
            <input type="submit">
        </form>
        <ul>
            <li th:each="item, iter : ${todos}">
                <span th:text="${item}"></span>
                <form th:action="@{'/checkbox/' + ${iter.index}}" method="post">
                    <input type="checkbox" name="isDone">
                    <input type="submit" value="delete">
                </form>
            </li>
        </ul>
      </div>
    </div>
  </div>


    <div>
        <span th:text="${currentDateTime}" ></span>
        <!-- <br>
        <span th:text="${time.getLd}" ></span> -->
    </div>

<!--     <div>
    <h3>Todo List</h3>
<form th:action="@{/userpage}" method="post">
    <input type="text" name="listItem">
    <input type="submit">
</form>
<ul>
    <li th:each="item, iter : ${list}">
        <span th:text="${item}"></span>
        <form th:action="@{'/checkbox/' + ${iter.index}}" method="post">
            <input type="checkbox" name="isDone">
            <input type="submit" value="delete">
        </form>
    </li>
</ul>
</div> -->



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>
